In [1]:
def import_county():
    """
    This function imports data from MongoDB 'CDC-TimeSeries' collection and creates a dataframe that only holds US data to the county level. 
    
    I have added 2 extra columns (Confirmed_New and Death_New) that show the count of new cases/deaths each day
    since the original data only has the cumulative number. 
    
    I think this function would help you jump into your county-level data analysis right away.
    
    """
    import pymongo
    from pymongo import MongoClient
    import pandas as pd
    
    auth = "mongodb://analyst:grmds@3.101.18.8/COVID19-DB"
    db_name = 'COVID19-DB'
    
    client = pymongo.MongoClient(auth) # defaults to port 27017
    db = client[db_name]
    cdc_ts = pd.DataFrame(list(db['CDC-TimeSeries'].find({})))
    
    
    US = cdc_ts.loc[cdc_ts['Country/Region'] == 'US']
    US = US.loc[US['County/City'] != ""]
    US = US.sort_values(by=['Province/State', 'County/City', 'Date']).reset_index(drop = True)
    US = US.drop(['Country/Region'], axis=1)
    
    US['Confirmed'] = US['Confirmed'].astype(int)
    US['Death'] = US['Death'].astype(int)

    US['Confirmed_New'] = US.groupby(['Province/State','County/City'])['Confirmed'].diff().fillna(0)
    US['Death_New'] = US.groupby(['Province/State','County/City'])['Death'].diff().fillna(0)

    col_name="Date"
    col = US.pop(col_name)
    US.insert(0, col_name, col)
    
    col_name="Confirmed_New"
    col = US.pop(col_name)
    US.insert(7, col_name, col)
    
    col_name="Death_New"
    col = US.pop(col_name)
    US.insert(9, col_name, col)
   
    return US

In [2]:
county = import_county()
county

,Date,_id,Province/State,County/City,Latitude,Longitude,Confirmed,Confirmed_New,Death,Death_New,Recovery,Mobility_sample_size,m50_distance_median_miles,m50_percent_of_normal
0,2020-01-22,5e9a212429f40b22fca03640,Alabama,Autauga,32.53952745,-86.64408227,0,0.0,0,0.0,NaN,NaN,NaN,NaN
1,2020-01-23,5e9a212429f40b22fca03641,Alabama,Autauga,32.53952745,-86.64408227,0,0.0,0,0.0,NaN,NaN,NaN,NaN
2,2020-01-24,5e9a212429f40b22fca03642,Alabama,Autauga,32.53952745,-86.64408227,0,0.0,0,0.0,NaN,NaN,NaN,NaN
3,2020-01-25,5e9a212429f40b22fca03643,Alabama,Autauga,32.53952745,-86.64408227,0,0.0,0,0.0,NaN,NaN,NaN,NaN
4,2020-01-26,5e9a212429f40b22fca03644,Alabama,Autauga,32.53952745,-86.64408227,0,0.0,0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279323,2020-04-12,5e9a22da29f40b22fca455bf,Wyoming,Weston,43.83961191,-104.5674881,0,0.0,0,0.0,NaN,NaN,NaN,NaN
279324,2020-04-13,5e9a22da29f40b22fca455c0,Wyoming,Weston,43.83961191,-104.5674881,0,0.0,0,0.0,NaN,NaN,NaN,NaN
279325,2020-04-14,5e9a22da29f40b22fca455c1,Wyoming,Weston,43.83961191,-104.5674881,0,0.0,0,0.0,NaN,NaN,NaN,NaN
279326,2020-04-15,5e9a22da29f40b22fca455c2,Wyoming,Weston,43.83961191,-104.5674881,0,0.0,0,0.0,NaN,NaN,NaN,NaN
279327,2020-04-16,5e9a22da29f40b22fca455c3,Wyoming,Weston,43.83961191,-104.5674881,0,0.0,0,0.0,NaN,NaN,NaN,NaN

In [3]:
la = county.loc[county['County/City'] == "Los Angeles"]
la.tail(20)

,Date,_id,Province/State,County/City,Latitude,Longitude,Confirmed,Confirmed_New,Death,Death_New,Recovery,Mobility_sample_size,m50_distance_median_miles,m50_percent_of_normal
18298,2020-03-28,5e9a214129f40b22fca07b0a,California,Los Angeles,34.30828379,-118.2282411,1465,0.0,26,0.0,NaN,92257.0,0.097,1.0
18299,2020-03-29,5e9a214129f40b22fca07b0b,California,Los Angeles,34.30828379,-118.2282411,1829,364.0,32,6.0,NaN,94888.0,0.038,0.0
18300,2020-03-30,5e9a214129f40b22fca07b0c,California,Los Angeles,34.30828379,-118.2282411,2474,645.0,44,12.0,NaN,97443.0,0.231,3.0
18301,2020-03-31,5e9a214129f40b22fca07b0d,California,Los Angeles,34.30828379,-118.2282411,3019,545.0,54,10.0,NaN,97827.0,0.314,4.0
18302,2020-04-01,5e9a214129f40b22fca07b0e,California,Los Angeles,34.30828379,-118.2282411,3518,499.0,64,10.0,NaN,96756.0,0.341,5.0
18303,2020-04-02,5e9a214129f40b22fca07b0f,California,Los Angeles,34.30828379,-118.2282411,4045,527.0,78,14.0,NaN,95468.0,0.390,5.0
18304,2020-04-03,5e9a214129f40b22fca07b10,California,Los Angeles,34.30828379,-118.2282411,4566,521.0,89,11.0,NaN,94001.0,0.769,11.0
18305,2020-04-04,5e9a214129f40b22fca07b11,California,Los Angeles,34.30828379,-118.2282411,4605,39.0,93,4.0,NaN,92897.0,0.114,1.0
18306,2020-04-05,5e9a214129f40b22fca07b12,California,Los Angeles,34.30828379,-118.2282411,5955,1350.0,132,39.0,NaN,101468.0,0.031,0.0
18307,2020-04-06,5e9a214129f40b22fca07b13,California,Los Angeles,34.30828379,-118.2282411,6377,422.0,147,15.0,NaN,90701.0,0.046,0.0
18308,2020-04-07,5e9a214129f40b22fca07b14,California,Los Angeles,34.30828379,-118.2282411,6936,559.0,169,22.0,NaN,91574.0,0.048,0.0
18309,2020-04-08,5e9a214129f40b22fca07b15,California,Los Angeles,34.30828379,-118.2282411,7559,623.0,198,29.0,NaN,92627.0,0.065,0.0
18310,2020-04-09,5e9a214129f40b22fca07b16,California,Los Angeles,34.30828379,-118.2282411,7955,396.0,223,25.0,NaN,91266.0,0.034,0.0
18311,2020-04-10,5e9a214129f40b22fca07b17,California,Los Angeles,34.30828379,-118.2282411,8443,488.0,242,19.0,NaN,84000.0,0.428,6.0
18312,2020-04-11,5e9a214129f40b22fca07b18,California,Los Angeles,34.30828379,-118.2282411,8453,10.0,244,2.0,NaN,89108.0,0.101,1.0
18313,2020-04-12,5e9a214129f40b22fca07b19,California,Los Angeles,34.30828379,-118.2282411,8894,441.0,269,25.0,NaN,88310.0,0.027,0.0
18314,2020-04-13,5e9a214129f40b22fca07b1a,California,Los Angeles,34.30828379,-118.2282411,9433,539.0,322,53.0,NaN,88034.0,0.145,2.0
18315,2020-04-14,5e9a214129f40b22fca07b1b,California,Los Angeles,34.30828379,-118.2282411,10047,614.0,360,38.0,NaN,94187.0,0.215,3.0
18316,2020-04-15,5e9a214129f40b22fca07b1c,California,Los Angeles,34.30828379,-118.2282411,10517,470.0,405,45.0,NaN,99178.0,0.298,4.0
18317,2020-04-16,5e9a214129f40b22fca07b1d,California,Los Angeles,34.30828379,-118.2282411,10854,337.0,457,52.0,NaN,NaN,NaN,NaN