In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sps
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
from sklearn import preprocessing
import datetime as dt

In [3]:
df_Confirmed = pd.read_csv('time_series_19-covid-Confirmed.csv')
df_Deaths = pd.read_csv('time_series_19-covid-Deaths.csv')
df_Recovered = pd.read_csv('time_series_19-covid-Recovered.csv')

In [4]:
df_Confirmed.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,53,59,70,75,82,114,147,177,212
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,511,581,639,639,701,773,839,825,878,889
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,150,160,178,178,200,212,226,243,266,313
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,117,129,149,149,197,238,428,566,673,790

In [5]:
df_Deaths.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,10,10,15,16,19,22,22,27,29,29
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

In [6]:
df_Recovered.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,31,33,34,34,35,35,35,35,41,42
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,76,101,118,118,118,118,118,144,144,144
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,78,78,96,96,97,105,105,109,114,114
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,24,24,26,26,26,35,42,42,49,60

In [67]:
df_Confirmed['Country/Region'].unique()

array(['Thailand', 'Japan', 'Singapore', 'Nepal', 'Malaysia', 'Canada',
       'Australia', 'Cambodia', 'Sri Lanka', 'Germany', 'Finland',
       'United Arab Emirates', 'Philippines', 'India', 'Italy', 'Sweden',
       'Spain', 'Belgium', 'Egypt', 'Lebanon', 'Iraq', 'Oman',
       'Afghanistan', 'Bahrain', 'Kuwait', 'Algeria', 'Croatia',
       'Switzerland', 'Austria', 'Israel', 'Pakistan', 'Brazil',
       'Georgia', 'Greece', 'North Macedonia', 'Norway', 'Romania',
       'Estonia', 'San Marino', 'Belarus', 'Iceland', 'Lithuania',
       'Mexico', 'New Zealand', 'Nigeria', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Armenia',
       'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia',
       'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile',
       'Jordan', 'Ukraine', 'Hungary', 'Liechtenstein', 'Poland',
       'Tunisia', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa',
       'Bhutan', 'Cameroon', 'Colombia', 'Costa Rica', 'Peru', 'Serbia',
       'Slovakia', 'Togo', 'Malta', 'Martinique', 'Bulgaria', 'Maldives',
       'Bangladesh', 'Paraguay', 'Albania', 'Cyprus', 'Brunei', 'US',
       'Burkina Faso', 'Holy See', 'Mongolia', 'Panama', 'China', 'Iran',
       'Korea, South', 'France', 'Cruise Ship', 'Denmark', 'Czechia',
       'Taiwan*', 'Vietnam', 'Russia', 'Moldova', 'Bolivia', 'Honduras',
       'United Kingdom', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Jamaica',
       'Turkey', 'Cuba', 'Guyana', 'Kazakhstan', 'Ethiopia', 'Sudan',
       'Guinea', 'Kenya', 'Antigua and Barbuda', 'Uruguay', 'Ghana',
       'Namibia', 'Seychelles', 'Trinidad and Tobago', 'Venezuela',
       'Eswatini', 'Gabon', 'Guatemala', 'Mauritania', 'Rwanda',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname',
       'Kosovo', 'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Netherlands', 'Benin',
       'Greenland', 'Liberia', 'Somalia', 'Tanzania', 'The Bahamas',
       'Barbados', 'Montenegro', 'Kyrgyzstan', 'Mauritius', 'Zambia',
       'Djibouti', 'Gambia, The'], dtype=object)

# Confirmed Cases

In [73]:
country = 'US'
temp_df = df_Confirmed[df_Confirmed['Country/Region'] == country].copy()
temp_df.drop(['Province/State'], axis = 1, inplace= True)
temp_df.drop(['Lat'], axis = 1, inplace= True)
temp_df.drop(['Long'], axis = 1, inplace= True)
temp_df.drop(['Country/Region'], axis = 1, inplace= True)
temp_df = temp_df.T.copy()
temp_df['US Total Confirmed'] = 0

for index in temp_df.index:
    temp_df.loc[index, 'US Total Confirmed'] = sum(temp_df.loc[index,])
temp_df = temp_df[['US Total Confirmed']].copy()
same_day_table = temp_df.copy()

for country in ['Japan', 'Italy','China','Iran','Spain','Korea, South']:

    temp_df = df_Confirmed[df_Confirmed['Country/Region'] == country].copy()
    temp_df.drop(['Province/State'], axis = 1, inplace= True)
    temp_df.drop(['Lat'], axis = 1, inplace= True)
    temp_df.drop(['Long'], axis = 1, inplace= True)
    temp_df.drop(['Country/Region'], axis = 1, inplace= True)
    temp_df = temp_df.T.copy()
    temp_name = country + ' Total Confirmed'
    temp_df[temp_name] = 0

    for index in temp_df.index:
        temp_df.loc[index, temp_name] = sum(temp_df.loc[index,])
    temp_df = temp_df[[temp_name]].copy()

    same_day_table = pd.merge(same_day_table,temp_df,left_index=True , right_index= True, how = 'outer')

same_day_table

,US Total Confirmed,Japan Total Confirmed,Italy Total Confirmed,China Total Confirmed,Iran Total Confirmed,Spain Total Confirmed,"Korea, South Total Confirmed"
1/22/20,1,2,0,548,0,0,1
1/23/20,1,1,0,643,0,0,1
1/24/20,2,2,0,920,0,0,2
1/25/20,2,2,0,1406,0,0,2
1/26/20,5,4,0,2075,0,0,3
1/27/20,5,4,0,2877,0,0,4
1/28/20,5,7,0,5509,0,0,4
1/29/20,5,7,0,6087,0,0,4
1/30/20,5,11,0,8141,0,0,4
1/31/20,7,15,2,9802,0,0,11
2/1/20,8,20,2,11891,0,1,12
2/2/20,8,20,2,16630,0,1,15
2/3/20,11,20,2,19716,0,1,15
2/4/20,11,22,2,23707,0,1,16
2/5/20,11,22,2,27440,0,1,19
2/6/20,11,45,2,30587,0,1,23
2/7/20,11,25,3,34110,0,1,24
2/8/20,11,25,3,36814,0,1,24
2/9/20,11,26,3,39829,0,2,25
2/10/20,11,26,3,42354,0,2,27
2/11/20,12,26,3,44386,0,2,28
2/12/20,12,28,3,44759,0,2,28
2/13/20,13,28,3,59895,0,2,28
2/14/20,13,29,3,66358,0,2,28
2/15/20,13,43,3,68413,0,2,28
2/16/20,13,59,3,70513,0,2,29
2/17/20,13,66,3,72434,0,2,30
2/18/20,13,74,3,74211,0,2,31
2/19/20,13,84,3,74619,2,2,31
2/20/20,13,94,3,75077,5,2,104
2/21/20,15,105,20,75550,18,2,204
2/22/20,15,122,62,77001,28,2,433
2/23/20,15,147,155,77022,43,2,602
2/24/20,51,159,229,77241,61,2,833
2/25/20,51,170,322,77754,95,6,977
2/26/20,57,189,453,78166,139,13,1261
2/27/20,58,214,655,78600,245,15,1766
2/28/20,60,228,888,78928,388,32,2337
2/29/20,68,241,1128,79356,593,45,3150
3/1/20,74,256,1694,79932,978,84,3736
3/2/20,98,274,2036,80136,1501,120,4335
3/3/20,118,293,2502,80261,2336,165,5186
3/4/20,149,331,3089,80386,2922,222,5621
3/5/20,217,360,3858,80537,3513,259,6088
3/6/20,262,420,4636,80690,4747,400,6593
3/7/20,402,461,5883,80770,5823,500,7041
3/8/20,518,502,7375,80823,6566,673,7314
3/9/20,583,511,9172,80860,7161,1073,7478
3/10/20,959,581,10149,80887,8042,1695,7513
3/11/20,1281,639,12462,80921,9000,2277,7755
3/12/20,1663,639,12462,80932,10075,2277,7869
3/13/20,2179,701,17660,80945,11364,5232,7979
3/14/20,2727,773,21157,80977,12729,6391,8086
3/15/20,3499,839,24747,81003,13938,7798,8162
3/16/20,4632,825,27980,81033,14991,9942,8236
3/17/20,6421,878,31506,81058,16169,11748,8320
3/18/20,7783,889,35713,81102,17361,13910,8413

# Deaths Cases

In [74]:
for country in ['US','Japan', 'Italy','China','Iran','Spain','Korea, South']:

    temp_df = df_Deaths[df_Deaths['Country/Region'] == country].copy()
    temp_df.drop(['Province/State'], axis = 1, inplace= True)
    temp_df.drop(['Lat'], axis = 1, inplace= True)
    temp_df.drop(['Long'], axis = 1, inplace= True)
    temp_df.drop(['Country/Region'], axis = 1, inplace= True)
    temp_df = temp_df.T.copy()
    temp_name = country + ' Total Deaths'
    temp_df[temp_name] = 0

    for index in temp_df.index:
        temp_df.loc[index, temp_name] = sum(temp_df.loc[index,])
    temp_df = temp_df[[temp_name]].copy()

    same_day_table = pd.merge(same_day_table,temp_df,left_index=True , right_index= True, how = 'outer')

same_day_table

,US Total Confirmed,Japan Total Confirmed,Italy Total Confirmed,China Total Confirmed,Iran Total Confirmed,Spain Total Confirmed,"Korea, South Total Confirmed",US Total Deaths,Japan Total Deaths,Italy Total Deaths,China Total Deaths,Iran Total Deaths,Spain Total Deaths,"Korea, South Total Deaths"
1/22/20,1,2,0,548,0,0,1,0,0,0,17,0,0,0
1/23/20,1,1,0,643,0,0,1,0,0,0,18,0,0,0
1/24/20,2,2,0,920,0,0,2,0,0,0,26,0,0,0
1/25/20,2,2,0,1406,0,0,2,0,0,0,42,0,0,0
1/26/20,5,4,0,2075,0,0,3,0,0,0,56,0,0,0
1/27/20,5,4,0,2877,0,0,4,0,0,0,82,0,0,0
1/28/20,5,7,0,5509,0,0,4,0,0,0,131,0,0,0
1/29/20,5,7,0,6087,0,0,4,0,0,0,133,0,0,0
1/30/20,5,11,0,8141,0,0,4,0,0,0,171,0,0,0
1/31/20,7,15,2,9802,0,0,11,0,0,0,213,0,0,0
2/1/20,8,20,2,11891,0,1,12,0,0,0,259,0,0,0
2/2/20,8,20,2,16630,0,1,15,0,0,0,361,0,0,0
2/3/20,11,20,2,19716,0,1,15,0,0,0,425,0,0,0
2/4/20,11,22,2,23707,0,1,16,0,0,0,491,0,0,0
2/5/20,11,22,2,27440,0,1,19,0,0,0,563,0,0,0
2/6/20,11,45,2,30587,0,1,23,0,0,0,633,0,0,0
2/7/20,11,25,3,34110,0,1,24,0,0,0,718,0,0,0
2/8/20,11,25,3,36814,0,1,24,0,0,0,805,0,0,0
2/9/20,11,26,3,39829,0,2,25,0,0,0,905,0,0,0
2/10/20,11,26,3,42354,0,2,27,0,0,0,1012,0,0,0
2/11/20,12,26,3,44386,0,2,28,0,0,0,1112,0,0,0
2/12/20,12,28,3,44759,0,2,28,0,0,0,1117,0,0,0
2/13/20,13,28,3,59895,0,2,28,0,1,0,1369,0,0,0
2/14/20,13,29,3,66358,0,2,28,0,1,0,1521,0,0,0
2/15/20,13,43,3,68413,0,2,28,0,1,0,1663,0,0,0
2/16/20,13,59,3,70513,0,2,29,0,1,0,1766,0,0,0
2/17/20,13,66,3,72434,0,2,30,0,1,0,1864,0,0,0
2/18/20,13,74,3,74211,0,2,31,0,1,0,2003,0,0,0
2/19/20,13,84,3,74619,2,2,31,0,1,0,2116,2,0,0
2/20/20,13,94,3,75077,5,2,104,0,1,0,2238,2,0,1
2/21/20,15,105,20,75550,18,2,204,0,1,1,2238,4,0,2
2/22/20,15,122,62,77001,28,2,433,0,1,2,2443,5,0,2
2/23/20,15,147,155,77022,43,2,602,0,1,3,2445,8,0,6
2/24/20,51,159,229,77241,61,2,833,0,1,7,2595,12,0,8
2/25/20,51,170,322,77754,95,6,977,0,1,10,2665,16,0,10
2/26/20,57,189,453,78166,139,13,1261,0,2,12,2717,19,0,12
2/27/20,58,214,655,78600,245,15,1766,0,4,17,2746,26,0,13
2/28/20,60,228,888,78928,388,32,2337,0,4,21,2790,34,0,13
2/29/20,68,241,1128,79356,593,45,3150,1,5,29,2837,43,0,16
3/1/20,74,256,1694,79932,978,84,3736,1,6,34,2872,54,0,17
3/2/20,98,274,2036,80136,1501,120,4335,6,6,52,2914,66,0,28
3/3/20,118,293,2502,80261,2336,165,5186,7,6,79,2947,77,1,28
3/4/20,149,331,3089,80386,2922,222,5621,11,6,107,2983,92,2,35
3/5/20,217,360,3858,80537,3513,259,6088,12,6,148,3015,107,3,35
3/6/20,262,420,4636,80690,4747,400,6593,14,6,197,3044,124,5,42
3/7/20,402,461,5883,80770,5823,500,7041,17,6,233,3072,145,10,44
3/8/20,518,502,7375,80823,6566,673,7314,21,6,366,3100,194,17,50
3/9/20,583,511,9172,80860,7161,1073,7478,22,10,463,3123,237,28,53
3/10/20,959,581,10149,80887,8042,1695,7513,28,10,631,3139,291,35,54
3/11/20,1281,639,12462,80921,9000,2277,7755,36,15,827,3161,354,54,60
3/12/20,1663,639,12462,80932,10075,2277,7869,40,16,827,3172,429,55,66
3/13/20,2179,701,17660,80945,11364,5232,7979,47,19,1266,3180,514,133,66
3/14/20,2727,773,21157,80977,12729,6391,8086,54,22,1441,3193,611,195,72
3/15/20,3499,839,24747,81003,13938,7798,8162,63,22,1809,3203,724,289,75
3/16/20,4632,825,27980,81033,14991,9942,8236,85,27,2158,3217,853,342,75
3/17/20,6421,878,31506,81058,16169,11748,8320,108,29,2503,3230,988,533,81
3/18/20,7783,889,35713,81102,17361,13910,8413,118,29,2978,3241,1135,623,84

# Recovered Cases

In [75]:
for country in ['US','Japan', 'Italy','China','Iran','Spain','Korea, South']:

    temp_df = df_Recovered[df_Recovered['Country/Region'] == country].copy()
    temp_df.drop(['Province/State'], axis = 1, inplace= True)
    temp_df.drop(['Lat'], axis = 1, inplace= True)
    temp_df.drop(['Long'], axis = 1, inplace= True)
    temp_df.drop(['Country/Region'], axis = 1, inplace= True)
    temp_df = temp_df.T.copy()
    temp_name = country + ' Total Recovered'
    temp_df[temp_name] = 0

    for index in temp_df.index:
        temp_df.loc[index, temp_name] = sum(temp_df.loc[index,])
    temp_df = temp_df[[temp_name]].copy()

    same_day_table = pd.merge(same_day_table,temp_df,left_index=True , right_index= True, how = 'outer')

same_day_table

,US Total Confirmed,Japan Total Confirmed,Italy Total Confirmed,China Total Confirmed,Iran Total Confirmed,Spain Total Confirmed,"Korea, South Total Confirmed",US Total Deaths,Japan Total Deaths,Italy Total Deaths,...,Iran Total Deaths,Spain Total Deaths,"Korea, South Total Deaths",US Total Recovered,Japan Total Recovered,Italy Total Recovered,China Total Recovered,Iran Total Recovered,Spain Total Recovered,"Korea, South Total Recovered"
1/22/20,1,2,0,548,0,0,1,0,0,0,...,0,0,0,0,0,0,28,0,0,0
1/23/20,1,1,0,643,0,0,1,0,0,0,...,0,0,0,0,0,0,30,0,0,0
1/24/20,2,2,0,920,0,0,2,0,0,0,...,0,0,0,0,0,0,36,0,0,0
1/25/20,2,2,0,1406,0,0,2,0,0,0,...,0,0,0,0,0,0,39,0,0,0
1/26/20,5,4,0,2075,0,0,3,0,0,0,...,0,0,0,0,1,0,49,0,0,0
1/27/20,5,4,0,2877,0,0,4,0,0,0,...,0,0,0,0,1,0,58,0,0,0
1/28/20,5,7,0,5509,0,0,4,0,0,0,...,0,0,0,0,1,0,101,0,0,0
1/29/20,5,7,0,6087,0,0,4,0,0,0,...,0,0,0,0,1,0,120,0,0,0
1/30/20,5,11,0,8141,0,0,4,0,0,0,...,0,0,0,0,1,0,135,0,0,0
1/31/20,7,15,2,9802,0,0,11,0,0,0,...,0,0,0,0,1,0,214,0,0,0
2/1/20,8,20,2,11891,0,1,12,0,0,0,...,0,0,0,0,1,0,275,0,0,0
2/2/20,8,20,2,16630,0,1,15,0,0,0,...,0,0,0,0,1,0,463,0,0,0
2/3/20,11,20,2,19716,0,1,15,0,0,0,...,0,0,0,0,1,0,614,0,0,0
2/4/20,11,22,2,23707,0,1,16,0,0,0,...,0,0,0,0,1,0,843,0,0,0
2/5/20,11,22,2,27440,0,1,19,0,0,0,...,0,0,0,0,1,0,1115,0,0,0
2/6/20,11,45,2,30587,0,1,23,0,0,0,...,0,0,0,0,1,0,1477,0,0,0
2/7/20,11,25,3,34110,0,1,24,0,0,0,...,0,0,0,0,1,0,1999,0,0,1
2/8/20,11,25,3,36814,0,1,24,0,0,0,...,0,0,0,0,1,0,2596,0,0,1
2/9/20,11,26,3,39829,0,2,25,0,0,0,...,0,0,0,3,1,0,3219,0,0,3
2/10/20,11,26,3,42354,0,2,27,0,0,0,...,0,0,0,3,4,0,3918,0,0,3
2/11/20,12,26,3,44386,0,2,28,0,0,0,...,0,0,0,3,9,0,4636,0,0,3
2/12/20,12,28,3,44759,0,2,28,0,0,0,...,0,0,0,3,9,0,5082,0,0,7
2/13/20,13,28,3,59895,0,2,28,0,1,0,...,0,0,0,3,9,0,6217,0,0,7
2/14/20,13,29,3,66358,0,2,28,0,1,0,...,0,0,0,3,9,0,7977,0,0,7
2/15/20,13,43,3,68413,0,2,28,0,1,0,...,0,0,0,3,12,0,9298,0,2,9
2/16/20,13,59,3,70513,0,2,29,0,1,0,...,0,0,0,3,12,0,10755,0,2,9
2/17/20,13,66,3,72434,0,2,30,0,1,0,...,0,0,0,3,12,0,12462,0,2,10
2/18/20,13,74,3,74211,0,2,31,0,1,0,...,0,0,0,3,13,0,14206,0,2,12
2/19/20,13,84,3,74619,2,2,31,0,1,0,...,2,0,0,3,18,0,15962,0,2,12
2/20/20,13,94,3,75077,5,2,104,0,1,0,...,2,0,1,3,18,0,18014,0,2,16
2/21/20,15,105,20,75550,18,2,204,0,1,1,...,4,0,2,5,22,0,18704,0,2,16
2/22/20,15,122,62,77001,28,2,433,0,1,2,...,5,0,2,5,22,1,22699,0,2,16
2/23/20,15,147,155,77022,43,2,602,0,1,3,...,8,0,6,5,22,2,23187,0,2,18
2/24/20,51,159,229,77241,61,2,833,0,1,7,...,12,0,8,5,22,1,25015,0,2,18
2/25/20,51,170,322,77754,95,6,977,0,1,10,...,16,0,10,6,22,1,27676,0,2,22
2/26/20,57,189,453,78166,139,13,1261,0,2,12,...,19,0,12,6,22,3,30084,49,2,22
2/27/20,58,214,655,78600,245,15,1766,0,4,17,...,26,0,13,6,22,45,32930,49,2,22
2/28/20,60,228,888,78928,388,32,2337,0,4,21,...,34,0,13,7,22,46,36329,73,2,22
2/29/20,68,241,1128,79356,593,45,3150,1,5,29,...,43,0,16,7,32,46,39320,123,2,27
3/1/20,74,256,1694,79932,978,84,3736,1,6,34,...,54,0,17,7,32,83,42162,175,2,30
3/2/20,98,274,2036,80136,1501,120,4335,6,6,52,...,66,0,28,7,32,149,44854,291,2,30
3/3/20,118,293,2502,80261,2336,165,5186,7,6,79,...,77,1,28,7,43,160,47450,291,2,30
3/4/20,149,331,3089,80386,2922,222,5621,11,6,107,...,92,2,35,7,43,276,50001,552,2,41
3/5/20,217,360,3858,80537,3513,259,6088,12,6,148,...,107,3,35,7,43,414,52292,739,2,41
3/6/20,262,420,4636,80690,4747,400,6593,14,6,197,...,124,5,42,7,46,523,53944,913,2,135
3/7/20,402,461,5883,80770,5823,500,7041,17,6,233,...,145,10,44,7,76,589,55539,1669,30,135
3/8/20,518,502,7375,80823,6566,673,7314,21,6,366,...,194,17,50,7,76,622,57388,2134,30,118
3/9/20,583,511,9172,80860,7161,1073,7478,22,10,463,...,237,28,53,7,76,724,58804,2394,32,118
3/10/20,959,581,10149,80887,8042,1695,7513,28,10,631,...,291,35,54,8,101,724,60181,2731,32,247
3/11/20,1281,639,12462,80921,9000,2277,7755,36,15,827,...,354,54,60,8,118,1045,61644,2959,183,288
3/12/20,1663,639,12462,80932,10075,2277,7869,40,16,827,...,429,55,66,12,118,1045,62901,2959,183,333
3/13/20,2179,701,17660,80945,11364,5232,7979,47,19,1266,...,514,133,66,12,118,1439,64196,2959,193,510
3/14/20,2727,773,21157,80977,12729,6391,8086,54,22,1441,...,611,195,72,12,118,1966,65660,2959,517,510
3/15/20,3499,839,24747,81003,13938,7798,8162,63,22,1809,...,724,289,75,12,118,2335,67017,4590,517,510
3/16/20,4632,825,27980,81033,14991,9942,8236,85,27,2158,...,853,342,75,17,144,2749,67910,4590,530,1137
3/17/20,6421,878,31506,81058,16169,11748,8320,108,29,2503,...,988,533,81,17,144,2941,68798,5389,1028,1407
3/18/20,7783,889,35713,81102,17361,13910,8413,118,29,2978,...,1135,623,84,0,144,4025,69755,5389,1081,1540

# Mortality/Recovery Rate

In [76]:
for country in ['US','Japan', 'Italy','China','Iran','Spain','Korea, South']:
    temp_name_Mortality = country + ' Mortality Rate'
    temp_name_Recovery = country + ' Recovery Rate'
    
    temp_name_Confirmed = country + ' Total Confirmed'
    temp_name_Deaths = country + ' Total Deaths'
    temp_name_Recovered = country + ' Total Recovered'
    
    same_day_table[temp_name_Mortality] = same_day_table[temp_name_Deaths] / same_day_table[temp_name_Confirmed]
    same_day_table[temp_name_Recovery] = same_day_table[temp_name_Recovered] / same_day_table[temp_name_Confirmed]

same_day_table

,US Total Confirmed,Japan Total Confirmed,Italy Total Confirmed,China Total Confirmed,Iran Total Confirmed,Spain Total Confirmed,"Korea, South Total Confirmed",US Total Deaths,Japan Total Deaths,Italy Total Deaths,...,Italy Mortality Rate,Italy Recovery Rate,China Mortality Rate,China Recovery Rate,Iran Mortality Rate,Iran Recovery Rate,Spain Mortality Rate,Spain Recovery Rate,"Korea, South Mortality Rate","Korea, South Recovery Rate"
1/22/20,1,2,0,548,0,0,1,0,0,0,...,NaN,NaN,0.031022,0.051095,NaN,NaN,NaN,NaN,0.000000,0.000000
1/23/20,1,1,0,643,0,0,1,0,0,0,...,NaN,NaN,0.027994,0.046656,NaN,NaN,NaN,NaN,0.000000,0.000000
1/24/20,2,2,0,920,0,0,2,0,0,0,...,NaN,NaN,0.028261,0.039130,NaN,NaN,NaN,NaN,0.000000,0.000000
1/25/20,2,2,0,1406,0,0,2,0,0,0,...,NaN,NaN,0.029872,0.027738,NaN,NaN,NaN,NaN,0.000000,0.000000
1/26/20,5,4,0,2075,0,0,3,0,0,0,...,NaN,NaN,0.026988,0.023614,NaN,NaN,NaN,NaN,0.000000,0.000000
1/27/20,5,4,0,2877,0,0,4,0,0,0,...,NaN,NaN,0.028502,0.020160,NaN,NaN,NaN,NaN,0.000000,0.000000
1/28/20,5,7,0,5509,0,0,4,0,0,0,...,NaN,NaN,0.023779,0.018334,NaN,NaN,NaN,NaN,0.000000,0.000000
1/29/20,5,7,0,6087,0,0,4,0,0,0,...,NaN,NaN,0.021850,0.019714,NaN,NaN,NaN,NaN,0.000000,0.000000
1/30/20,5,11,0,8141,0,0,4,0,0,0,...,NaN,NaN,0.021005,0.016583,NaN,NaN,NaN,NaN,0.000000,0.000000
1/31/20,7,15,2,9802,0,0,11,0,0,0,...,0.000000,0.000000,0.021730,0.021832,NaN,NaN,NaN,NaN,0.000000,0.000000
2/1/20,8,20,2,11891,0,1,12,0,0,0,...,0.000000,0.000000,0.021781,0.023127,NaN,NaN,0.000000,0.000000,0.000000,0.000000
2/2/20,8,20,2,16630,0,1,15,0,0,0,...,0.000000,0.000000,0.021708,0.027841,NaN,NaN,0.000000,0.000000,0.000000,0.000000
2/3/20,11,20,2,19716,0,1,15,0,0,0,...,0.000000,0.000000,0.021556,0.031142,NaN,NaN,0.000000,0.000000,0.000000,0.000000
2/4/20,11,22,2,23707,0,1,16,0,0,0,...,0.000000,0.000000,0.020711,0.035559,NaN,NaN,0.000000,0.000000,0.000000,0.000000
2/5/20,11,22,2,27440,0,1,19,0,0,0,...,0.000000,0.000000,0.020517,0.040634,NaN,NaN,0.000000,0.000000,0.000000,0.000000
2/6/20,11,45,2,30587,0,1,23,0,0,0,...,0.000000,0.000000,0.020695,0.048288,NaN,NaN,0.000000,0.000000,0.000000,0.000000
2/7/20,11,25,3,34110,0,1,24,0,0,0,...,0.000000,0.000000,0.021050,0.058605,NaN,NaN,0.000000,0.000000,0.000000,0.041667
2/8/20,11,25,3,36814,0,1,24,0,0,0,...,0.000000,0.000000,0.021867,0.070517,NaN,NaN,0.000000,0.000000,0.000000,0.041667
2/9/20,11,26,3,39829,0,2,25,0,0,0,...,0.000000,0.000000,0.022722,0.080821,NaN,NaN,0.000000,0.000000,0.000000,0.120000
2/10/20,11,26,3,42354,0,2,27,0,0,0,...,0.000000,0.000000,0.023894,0.092506,NaN,NaN,0.000000,0.000000,0.000000,0.111111
2/11/20,12,26,3,44386,0,2,28,0,0,0,...,0.000000,0.000000,0.025053,0.104447,NaN,NaN,0.000000,0.000000,0.000000,0.107143
2/12/20,12,28,3,44759,0,2,28,0,0,0,...,0.000000,0.000000,0.024956,0.113541,NaN,NaN,0.000000,0.000000,0.000000,0.250000
2/13/20,13,28,3,59895,0,2,28,0,1,0,...,0.000000,0.000000,0.022857,0.103798,NaN,NaN,0.000000,0.000000,0.000000,0.250000
2/14/20,13,29,3,66358,0,2,28,0,1,0,...,0.000000,0.000000,0.022921,0.120212,NaN,NaN,0.000000,0.000000,0.000000,0.250000
2/15/20,13,43,3,68413,0,2,28,0,1,0,...,0.000000,0.000000,0.024308,0.135910,NaN,NaN,0.000000,1.000000,0.000000,0.321429
2/16/20,13,59,3,70513,0,2,29,0,1,0,...,0.000000,0.000000,0.025045,0.152525,NaN,NaN,0.000000,1.000000,0.000000,0.310345
2/17/20,13,66,3,72434,0,2,30,0,1,0,...,0.000000,0.000000,0.025734,0.172046,NaN,NaN,0.000000,1.000000,0.000000,0.333333
2/18/20,13,74,3,74211,0,2,31,0,1,0,...,0.000000,0.000000,0.026991,0.191427,NaN,NaN,0.000000,1.000000,0.000000,0.387097
2/19/20,13,84,3,74619,2,2,31,0,1,0,...,0.000000,0.000000,0.028357,0.213913,1.000000,0.000000,0.000000,1.000000,0.000000,0.387097
2/20/20,13,94,3,75077,5,2,104,0,1,0,...,0.000000,0.000000,0.029809,0.239940,0.400000,0.000000,0.000000,1.000000,0.009615,0.153846
2/21/20,15,105,20,75550,18,2,204,0,1,1,...,0.050000,0.000000,0.029623,0.247571,0.222222,0.000000,0.000000,1.000000,0.009804,0.078431
2/22/20,15,122,62,77001,28,2,433,0,1,2,...,0.032258,0.016129,0.031727,0.294788,0.178571,0.000000,0.000000,1.000000,0.004619,0.036952
2/23/20,15,147,155,77022,43,2,602,0,1,3,...,0.019355,0.012903,0.031744,0.301044,0.186047,0.000000,0.000000,1.000000,0.009967,0.029900
2/24/20,51,159,229,77241,61,2,833,0,1,7,...,0.030568,0.004367,0.033596,0.323857,0.196721,0.000000,0.000000,1.000000,0.009604,0.021609
2/25/20,51,170,322,77754,95,6,977,0,1,10,...,0.031056,0.003106,0.034275,0.355943,0.168421,0.000000,0.000000,0.333333,0.010235,0.022518
2/26/20,57,189,453,78166,139,13,1261,0,2,12,...,0.026490,0.006623,0.034759,0.384873,0.136691,0.352518,0.000000,0.153846,0.009516,0.017446
2/27/20,58,214,655,78600,245,15,1766,0,4,17,...,0.025954,0.068702,0.034936,0.418957,0.106122,0.200000,0.000000,0.133333,0.007361,0.012458
2/28/20,60,228,888,78928,388,32,2337,0,4,21,...,0.023649,0.051802,0.035349,0.460280,0.087629,0.188144,0.000000,0.062500,0.005563,0.009414
2/29/20,68,241,1128,79356,593,45,3150,1,5,29,...,0.025709,0.040780,0.035750,0.495489,0.072513,0.207420,0.000000,0.044444,0.005079,0.008571
3/1/20,74,256,1694,79932,978,84,3736,1,6,34,...,0.020071,0.048996,0.035931,0.527473,0.055215,0.178937,0.000000,0.023810,0.004550,0.008030
3/2/20,98,274,2036,80136,1501,120,4335,6,6,52,...,0.025540,0.073183,0.036363,0.559723,0.043971,0.193871,0.000000,0.016667,0.006459,0.006920
3/3/20,118,293,2502,80261,2336,165,5186,7,6,79,...,0.031575,0.063949,0.036718,0.591196,0.032962,0.124572,0.006061,0.012121,0.005399,0.005785
3/4/20,149,331,3089,80386,2922,222,5621,11,6,107,...,0.034639,0.089349,0.037108,0.622011,0.031485,0.188912,0.009009,0.009009,0.006227,0.007294
3/5/20,217,360,3858,80537,3513,259,6088,12,6,148,...,0.038362,0.107309,0.037436,0.649292,0.030458,0.210362,0.011583,0.007722,0.005749,0.006735
3/6/20,262,420,4636,80690,4747,400,6593,14,6,197,...,0.042494,0.112813,0.037725,0.668534,0.026122,0.192332,0.012500,0.005000,0.006370,0.020476
3/7/20,402,461,5883,80770,5823,500,7041,17,6,233,...,0.039606,0.100119,0.038034,0.687619,0.024901,0.286622,0.020000,0.060000,0.006249,0.019173
3/8/20,518,502,7375,80823,6566,673,7314,21,6,366,...,0.049627,0.084339,0.038355,0.710045,0.029546,0.325008,0.025260,0.044577,0.006836,0.016133
3/9/20,583,511,9172,80860,7161,1073,7478,22,10,463,...,0.050480,0.078936,0.038622,0.727232,0.033096,0.334311,0.026095,0.029823,0.007087,0.015780
3/10/20,959,581,10149,80887,8042,1695,7513,28,10,631,...,0.062174,0.071337,0.038807,0.744013,0.036185,0.339592,0.020649,0.018879,0.007188,0.032876
3/11/20,1281,639,12462,80921,9000,2277,7755,36,15,827,...,0.066362,0.083855,0.039063,0.761780,0.039333,0.328778,0.023715,0.080369,0.007737,0.037137
3/12/20,1663,639,12462,80932,10075,2277,7869,40,16,827,...,0.066362,0.083855,0.039193,0.777208,0.042581,0.293697,0.024155,0.080369,0.008387,0.042318
3/13/20,2179,701,17660,80945,11364,5232,7979,47,19,1266,...,0.071687,0.081484,0.039286,0.793082,0.045231,0.260384,0.025420,0.036888,0.008272,0.063918
3/14/20,2727,773,21157,80977,12729,6391,8086,54,22,1441,...,0.068110,0.092924,0.039431,0.810848,0.048001,0.232461,0.030512,0.080895,0.008904,0.063072
3/15/20,3499,839,24747,81003,13938,7798,8162,63,22,1809,...,0.073100,0.094355,0.039542,0.827340,0.051944,0.329316,0.037061,0.066299,0.009189,0.062485
3/16/20,4632,825,27980,81033,14991,9942,8236,85,27,2158,...,0.077127,0.098249,0.039700,0.838054,0.056901,0.306184,0.034400,0.053309,0.009106,0.138052
3/17/20,6421,878,31506,81058,16169,11748,8320,108,29,2503,...,0.079445,0.093347,0.039848,0.848750,0.061105,0.333292,0.045369,0.087504,0.009736,0.169111
3/18/20,7783,889,35713,81102,17361,13910,8413,118,29,2978,...,0.083387,0.112704,0.039962,0.860090,0.065376,0.310408,0.044788,0.077714,0.009985,0.183050

In [78]:
same_day_table.to_csv('time_series_19-covid-same_day_overall.csv')

In [83]:
same_day_table[['China Recovery Rate']]

         China Recovery Rate
1/22/20             0.051095
1/23/20             0.046656
1/24/20             0.039130
1/25/20             0.027738
1/26/20             0.023614
1/27/20             0.020160
1/28/20             0.018334
1/29/20             0.019714
1/30/20             0.016583
1/31/20             0.021832
2/1/20              0.023127
2/2/20              0.027841
2/3/20              0.031142
2/4/20              0.035559
2/5/20              0.040634
2/6/20              0.048288
2/7/20              0.058605
2/8/20              0.070517
2/9/20              0.080821
2/10/20             0.092506
2/11/20             0.104447
2/12/20             0.113541
2/13/20             0.103798
2/14/20             0.120212
2/15/20             0.135910
2/16/20             0.152525
2/17/20             0.172046
2/18/20             0.191427
2/19/20             0.213913
2/20/20             0.239940
2/21/20             0.247571
2/22/20             0.294788
2/23/20             0.301044
2/24/20             0.323857
2/25/20             0.355943
2/26/20             0.384873
2/27/20             0.418957
2/28/20             0.460280
2/29/20             0.495489
3/1/20              0.527473
3/2/20              0.559723
3/3/20              0.591196
3/4/20              0.622011
3/5/20              0.649292
3/6/20              0.668534
3/7/20              0.687619
3/8/20              0.710045
3/9/20              0.727232
3/10/20             0.744013
3/11/20             0.761780
3/12/20             0.777208
3/13/20             0.793082
3/14/20             0.810848
3/15/20             0.827340
3/16/20             0.838054
3/17/20             0.848750
3/18/20             0.860090